@import "common.rasi"

configuration {
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "Apps";
    display-run: "Run";
    display-window: "Windows";
    drun-display-format: "{name}";

    kb-cancel: "Escape,MousePrimary";
    hover-select: true;
}

window {
    border-radius: 6px;
}
