@import "~/.cache/wal/colors-rofi-dark.rasi"

configuration {
    font: "CodeNewRoman Nerd Font Propo 13";
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "Apps";
    display-run: "Run";
    display-window: "Windows";
    drun-display-format: "{name}";

    kb-cancel: "Escape,MousePrimary";
    hover-select: true;
}
